/.vscode
/CaseExpression.sql
/CaseExpression2.sql
/csv_files
/CTES.sql
/Datefunction.sql
/practiceproblem.sql
/Prcticeprob.sql
/sql_course.session.sql
/subqueries.sql
/Trendingmonthsbasedonjob.sql
/Unions.sql
/Usecase1.sql
/__MACOSX